doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject

        body
            table(border = '0', cellpadding = '0', cellspacing = '0', width = '600', style = 'color: #e9e2bf; margin: 0 auto; border-collapse: collapse;font-family: "robotocondensed", "Arial Narrow", Arial, sans-serif;')
                tr
                    td(align = "center", bgcolor = "#1c1c1e", style = "padding: 30px 0 20px 0;font-size: 24px;line-height: 32px;")= 'Tanks-Lab.com'
                tr
                    td(bgcolor="#1c1c1e" style="padding: 40px 30px 40px 30px;")
                        table(border = '0', cellpadding = '0', cellspacing = '0', width = '100%')
                            tr
                                td(style="font-size: 18px;")='Подтверждение E-Mail'
                            tr
                                td=' '
                            tr
                                td=' '
                            tr
                                td='Вы только что зарегистрировались в экономической игре Tanks-Lab.com.'
                            tr
                                td=' '
                            tr
                                td=`Для завершения регистрации перейдите по ссылке: `
                            tr
                                td
                                    a(href=href, style="color: #f25322 !important;")= href

                tr
                    td(bgcolor="#000", style="color: #51504f; text-align:center;padding: 10px 30px 10px 30px;")= '© 2017 Tanks-Lab.com 18+'